.settings
.buildpath
.project
.idea/
build
deployment/clients/dev/data/
deployment/clients/test/data/
deployment/clients/local/data/
.vagrant
app/config.php
app/_LOG_
app/data/*
cache.properties
node_modules/*
web/dist/*.map
/web/dist/*.js
web/admin/dist/*.map
/web/admin/dist/*.js
web/modules/dist/*
.gitkeep
yarn.lock
/docker-compose.yml
supervisord.*
.v8flags*
*/.DS_Store